@charset "UTF-8";

body{
    
    background-color: #ffaef9;

}

form{

    
    text-align: center;


}


input{

    padding: 15px;
    background-color: #46caff;
}

h1{
    

    font-family: 'Bungee', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 5px;
}


h2{
    text-align: center;
}

footer{
    padding: 70px;
}

img{
    width: 280px;
    margin-left: 560px;
    margin-right: 550px;

}

